<h2>Nuevo Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :Usuario %><br />
    <%= f.text_field :username, autofocus: true %></div>

  <div><%= f.label :Correo_electrónico %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :Contraseña %><br />
    <%=f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :Confirmar_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Nuevo Usuario" %></div>
<% end %>

<%= render "devise/shared/links" %>
