<h1>Listing scholarships</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Starting</th>
      <th>Ending</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= scholarship.student_id %></td>
        <td><%= scholarship.starting %></td>
        <td><%= scholarship.ending %></td>
        <td><%= link_to 'Ver', scholarship %></td>
        <td><%= link_to 'Editar', edit_scholarship_path(scholarship) %></td>
        <td><%= link_to 'Eliminar', scholarship, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_scholarship_path %>
