<p id="notice"><%= notice %></p>

<p>
  <strong>Estudiante:</strong>
  <%= @scholarship.student_id %>
</p>

<p>
  <strong>Comenzar:</strong>
  <%= @scholarship.starting %>
</p>

<p>
  <strong>Terminar:</strong>
  <%= @scholarship.ending %>
</p>

<%= link_to 'Editar', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Atrás', scholarships_path %>
