<%= form_for(@scholarship_petition) do |f| %>
  <% if @scholarship_petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scholarship_petition.errors.count, "error") %> prohibited this scholarship_petition from being saved:</h2>

      <ul>
      <% @scholarship_petition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scholarship_type, 'Beca que solicita:' %><br>
    <%= f.select :scholarship_type, ['Comedor','Trabajo','Fotocopias'] %>
  </div>
 
  <div class="actions">
    <%= f.submit 'Enviar', class:'btn btn-success' %>
  </div>
<% end %>
