<h1>Listing scholarship_petitions</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Scholarship</th>
      <th>Approved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scholarship_petitions.each do |scholarship_petition| %>
      <tr>
        <td><%= scholarship_petition.student_id %></td>
        <td><%= scholarship_petition.scholarship_id %></td>
        <td><%= scholarship_petition.approved %></td>
        <td><%= link_to 'Ver', scholarship_petition %></td>
        <td><%= link_to 'Editar', edit_scholarship_petition_path(scholarship_petition) %></td>
        <td><%= link_to 'Eliminar', scholarship_petition, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Petición nueva de escolaridad', new_scholarship_petition_path %>
