<h1>Lista de Estudiantes</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>DNI</th>
      <th>Carrera</th>
      <th>Legajo</th>
      <th>ID Tarjeta</th>
      <th>Username</th>
      <th>E-mail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstName %></td>
        <td><%= student.lastName %></td>
        <td><%= student.dni %></td>
        <td><%= student.career %></td>
        <td><%= student.fileNumber %></td>
        <td><%= student.card_id %></td>
        <td><%= User.find(student.user_id).username %></td>
        <td><%= User.find(student.user_id).email %></td>
        <td><%= link_to 'Ver', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Borrar', student, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


