<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Dni</th>
      <th>Career</th>
      <th>Othercareer</th>
      <th>Filenumber</th>
      <th>Address</th>
      <th>Department</th>
      <th>Telephone</th>
      <th>Cellphone</th>
      <th>Dwelling</th>
      <th>Rental</th>
      <th>Economicsituation</th>
      <th>Children</th>
      <th>Dependent</th>
      <th>Schooldays</th>
      <th>Familygroup</th>
      <th>Income</th>
      <th>Minors</th>
      <th>Disabilityorillness</th>
      <th>Clarifications</th>
      <th>Vehicles</th>
      <th>Card</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstName %></td>
        <td><%= student.lastName %></td>
        <td><%= student.dni %></td>
        <td><%= student.career %></td>
        <td><%= student.otherCareer %></td>
        <td><%= student.fileNumber %></td>
        <td><%= student.address %></td>
        <td><%= student.department %></td>
        <td><%= student.telephone %></td>
        <td><%= student.cellphone %></td>
        <td><%= student.dwelling %></td>
        <td><%= student.rental %></td>
        <td><%= student.economicSituation %></td>
        <td><%= student.children %></td>
        <td><%= student.dependent %></td>
        <td><%= student.schoolDays %></td>
        <td><%= student.familyGroup %></td>
        <td><%= student.income %></td>
        <td><%= student.minors %></td>
        <td><%= student.disabilityOrIllness %></td>
        <td><%= student.clarifications %></td>
        <td><%= student.vehicles %></td>
        <td><%= student.card_id %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
