<p id="notice"><%= notice %></p>

<% if @count > 0 %>
  <p class="alert alert-warning" role="alert"> No has cargado los datos de tu Grupo familiar, has <%= link_to 'click aquí', new_family_path, class:'alert-link' %> para ir al formulario de registro (aún falta cargar <%= @count %> más) </p>
<% end %>
<% if @count < 0 %>
  <p class="alert alert-danger" role="alert"> Tienes más familiares cargados que los que tienes declarados, te sobran <%= -1 * @count %> familiares, mata alguno) </p>
<% end %>

<h2>Tus datos</h2>
<p>
  <strong>ID:</strong>
  <%= @student.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.firstName %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Número de documento:</strong>
  <%= @student.dni %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @student.career %>
</p>

<p>
  <strong>Otra carrera:</strong>
  <%= @student.otherCareer %>
</p>

<p>
  <strong>Legajo:</strong>
  <%= @student.fileNumber %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @student.department %>
</p>

<p>
  <strong>Teléfono fijo:</strong>
  <%= @student.telephone %>
</p>

<p>
  <strong>Teléfono celular:</strong>
  <%= @student.cellphone %>
</p>

<p>
  <strong>Vivienda:</strong>
  <%= @student.dwelling %>
</p>

<p>
  <strong>Monto que pagas por el alquiler:</strong>
  <%= @student.rental %>
</p>

<p>
  <strong>Situación Económica:</strong>
  <%= @student.economicSituation %>
</p>

<p>
  <strong>Hijos:</strong>
  <%= @student.children %>
</p>

<p>
  <strong>Personas a Cargo:</strong>
  <%= @student.dependent %>
</p>

<p>
  <strong>Cantidad de días de Cursado:</strong>
  <%= @student.schoolDays %>
</p>

<p>
  <strong>Grupo Familiar (Personas conviviendo bajo el mismo techo):</strong>
  <%= @student.familyGroup %>
</p>

<p>
  <strong>Ingresos (Por becas-trabajos-otros):</strong>
  <%= @student.income %>
</p>

<p>
  <strong>Cuántos menores de 18 años o jubilados hay en tu vivienda:</strong>
  <%= @student.minors %>
</p>

<p>
  <strong>Discapactidad o enfermedad crónica:</strong>
  <%= @student.disabilityOrIllness %>
</p>

<p>
  <strong>Vehículos:</strong>
  <%= @student.vehicles %>
</p>

<p>
  <strong>Otros Datos:</strong>
  <%= @student.clarifications %>
</p>


<p>
  <strong>Número de Tarjeta CETEM (Déjalo vacio si no tiene aún la Tarjeta CETEM):</strong>
  <%= @student.card_id %>
</p>

<%= link_to 'Editar Información', edit_student_path(@student), class:'btn btn-default' %> 
<%= link_to 'Volver', students_url, class:'btn btn-default' %>
