<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastName %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @student.dni %>
</p>

<p>
  <strong>Career:</strong>
  <%= @student.career %>
</p>

<p>
  <strong>Othercareer:</strong>
  <%= @student.otherCareer %>
</p>

<p>
  <strong>Filenumber:</strong>
  <%= @student.fileNumber %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Department:</strong>
  <%= @student.department %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @student.telephone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @student.cellphone %>
</p>

<p>
  <strong>Dwelling:</strong>
  <%= @student.dwelling %>
</p>

<p>
  <strong>Rental:</strong>
  <%= @student.rental %>
</p>

<p>
  <strong>Economicsituation:</strong>
  <%= @student.economicSituation %>
</p>

<p>
  <strong>Children:</strong>
  <%= @student.children %>
</p>

<p>
  <strong>Dependent:</strong>
  <%= @student.dependent %>
</p>

<p>
  <strong>Schooldays:</strong>
  <%= @student.schoolDays %>
</p>

<p>
  <strong>Familygroup:</strong>
  <%= @student.familyGroup %>
</p>

<p>
  <strong>Income:</strong>
  <%= @student.income %>
</p>

<p>
  <strong>Minors:</strong>
  <%= @student.minors %>
</p>

<p>
  <strong>Disabilityorillness:</strong>
  <%= @student.disabilityOrIllness %>
</p>

<p>
  <strong>Clarifications:</strong>
  <%= @student.clarifications %>
</p>

<p>
  <strong>Vehicles:</strong>
  <%= @student.vehicles %>
</p>

<p>
  <strong>Card:</strong>
  <%= @student.card_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
