<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> No se puede guardar Integrante del Grupo familiar:</h2>

      <ul>
      <% @family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dni %><br>
    <%= f.text_field :dni %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br>
    <%= f.select :relationship, ['Padre','Madre','Hermano/a','Hijo/a','Cónyugue','Abuelo/a','Otra relación'] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
