<h1>Enlistando Familiares</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dni</th>
      <th>Parentesco</th>
      <th>Estudiante¿?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.name %></td>
        <td><%= family.dni %></td>
        <td><%= family.relationship %></td>
        <td><%= family.student_id %></td>
        <td><%= link_to 'Ver', family %></td>
        <td><%= link_to 'Editar', edit_family_path(family) %></td>
        <td><%= link_to 'Eliminar', family, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo familiar', new_family_path %>
