<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Número de documento:</strong>
  <%= @family.dni %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @family.relationship %>
</p>

<p>
  <strong>Id Estudiante:</strong>
  <%= @family.student_id %>
</p>


<%= link_to 'Editar', edit_family_path(@family) %> |
<%= link_to 'Atrás', families_path %>
