<%= form_for(@doc_file) do |f| %>
  <% if @doc_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc_file.errors.count, "error") %> prohibited this doc_file from being saved:</h2>

      <ul>
      <% @doc_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre del archivo' %><br>
    <%= f.text_field :name, placeholder:'Nombre descriptivo' %>
  </div>
  <div class="field">
    <%= f.label :docOwner %><br>
    <%= f.file_field :docOwner %>
  </div>
  <div class="field">
    <%= f.label :clarification, 'Aclaraciones:' %><br>
    <%= f.text_area :clarification %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
