<h1>Listing doc_files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Clarification</th>
      <th>Docowner</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_files.each do |doc_file| %>
      <tr>
        <td><%= doc_file.name %></td>
        <td><%= doc_file.clarification %></td>
        <td><%= doc_file.docOwner %></td>
        <td><%= doc_file.student_id %></td>
        <td><%= link_to 'Show', doc_file %></td>
        <td><%= link_to 'Edit', edit_doc_file_path(doc_file) %></td>
        <td><%= link_to 'Destroy', doc_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc file', new_doc_file_path %>
