<!DOCTYPE html>
<html>
<head>
  <title>SisBeC- Alumnos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>  
</head>
<body>
  <% if user_signed_in? %>
    <% begin %>
      Logueado como <strong><%= link_to current_user.username, current_user.student %>.</strong>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, :class => 'btn btn-link'  %>
    <% rescue %>      
    <% end %>
  <% end %> 
  <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<%= yield %>
</body>
</html>
